.cards {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #21212166;
  margin: 0 auto;
}

.cards__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  column-gap: 20px;
  row-gap: 40px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 630px) {
  .cards {
    margin: 0 auto;
    justify-content: center;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    justify-items: center;
    margin-bottom: 20px;
    row-gap: 20px;
  }
}
