.cards {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #21212166;
  margin: 0 auto;
  display: flex;
  height: max-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.cards__list {
  width: max-content;
  height: max-content;
  list-style-type: none;
  display: grid;
  grid-template-columns: 413px 413px 413px;
  column-gap: 20px;
  row-gap: 40px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

@media screen and (max-width: 630px) {
  .cards {
    margin: 0 auto;
    justify-content: center;
  }

  .cards__list {
    width: 100%;
    height: max-content;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 15%);
    justify-items: center;
    margin-bottom: 20px;
    row-gap: 20px;
  }
}
