.content {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #21212166;
  width: 1280px;
  height: 970px;
  margin-left: 80px;
}

.content__cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: 413px 413px 413px;
  grid-template-rows: 445px 445px;
  column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 40px;
  padding: 0;
}

@media screen and (max-width: 630px) {
  .content {
    width: 90%;
    height: 68.5%;
    margin: 0 auto;
  }

  .content__cards {
    width: 100%;
    height: max-content;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 15%);
  }
}

@media screen and (min-width: 630px) and (max-width: 880px) {
  .content {
    width: max-content;
    height: max-content;
    margin: 0 auto;
  }

  .content__cards {
    width: max-content;
    height: max-content;
    grid-template-columns: repeat(1, 413px);
    grid-template-rows: repeat(6, 445px);
  }
}

@media screen and (min-width: 880px) and (max-width: 1320px) {
  .content {
    width: 88%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .content__cards {
    width: max-content;
    height: max-content;
    grid-template-columns: repeat(2, 413px);
    grid-template-rows: repeat(3, 445px);
  }
}
