.form {
  background-color: rgba(255, 255, 255, 1);
  max-width: 730px;
  padding-top: 32px;
  padding-right: 50px;
  padding-bottom: 32px;
  padding-left: 50px;
  border-radius: 8px;
}

.form__header {
  display: flex;
  margin-bottom: 32px;
}

.form__title {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
  margin: 0;
}

.form__close-btn {
  height: 40px;
  width: 40px;
  background-image: url(../images/close-icon.svg);
  opacity: 40%;
  background-size: cover;
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.form__close-btn:hover {
  opacity: 100%;
}

.form__area {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: rgba(33, 33, 33, 0.7);
}

.form__input {
  width: 630px;
  height: 52px;
  margin-top: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  padding-left: 12px;
  border-radius: 8px;

  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.form__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.form__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.form__input-error {
  color: red;
  visibility: hidden;
}

.form__error_visible {
  visibility: visible;
}

.form__submit-btn {
  height: 52px;
  width: 156px;
  margin-top: 32px;
  border-radius: 8px;
  background-color: #212;
  border: none;
  padding: 0;
  cursor: pointer;

  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(252, 245, 229, 1);
}

.form__submit-btn:hover {
  background: #212121cc;
}

.form__submit-btn_disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

@media screen and (max-width: 320px) {
  .form {
    max-width: max-content;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .form__header {
    margin-bottom: 24px;
  }

  .form__title {
    font-size: 20px;
  }

  .form__label {
    margin-bottom: 24px;
  }

  .form__input {
    max-width: 200px;
    font-size: 16px;
    padding-left: 12px;
  }

  .form__submit-btn {
    width: 276px;
  }
}

@media screen and (max-width: 750px) {
  .form__input {
    max-width: 260px;
  }
}
