.menu_bar {
  background-color: #fff;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-width: 1px;
  padding: 0;
}

.menu_bar__logo {
  width: 94px;
  height: 26px;
}
