.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  max-width: max-content;
}
