.profile {
  background-color: #fcf5e5;
  width: 505px;
  height: 190px;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__text {
  width: 420px;
  height: 60px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;

  margin: 0;
}

.profile__description {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121b2;

  margin: 0;
}

.profile__button {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121;
  opacity: 70%;
  background-color: transparent;
  border: none;

  width: 107px;
  height: 16px;
  opacity: 0.7;
  cursor: pointer;
  padding: 0;
}

@media screen and (max-width: 630px) {
  .profile {
    width: 100%;
    height: max-content;
    flex-direction: column;
    justify-content: center;
  }

  .profile__avatar {
    margin: 0 auto;
  }

  .profile__text {
    width: 100%;
    text-align: center;
    margin-bottom: 11.68%;
  }

  .profile__right {
    justify-content: center;
  }

  .profile__button {
    margin: 0 auto;
    margin-bottom: 7.3%;
  }
}

@media screen and (min-width: 630px) and (max-width: 880px) {
  .profile {
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 630px) and (max-width: 700px) {
  .profile__text {
    width: calc(100% / 2);
  }

  .profile__description {
    width: 150%;
  }
}
