.profile {
  background-color: #fcf5e5;
  gap: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #21212166;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
}

.profile__column {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile__name {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;

  margin: 0;
  margin-bottom: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 260px;
}

.profile__description {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;

  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 200px;
}

.profile__edit-btn {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  opacity: 70%;
  background-color: transparent;
  border: none;

  width: 107px;
  height: 16px;
  opacity: 0.7;
  cursor: pointer;
  padding: 0;
  margin-top: auto;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__new-post-btn {
  width: 149px;
  height: 52px;
  gap: 8px;
  border-radius: 8px;
  background-color: #212;
  border: none;
  padding: 0;
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fcf5e5;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
}

.profile__new-post-btn:hover {
  background: #212121cc;
}

.profile__new-post-logo {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__column {
    align-items: center;
    margin: 0;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0;
  }

  .profile__name {
    font-size: 20px;
    margin: 0;
  }

  .profile__edit-btn {
    margin-top: 32px;
  }

  .profile__new-post-btn {
    width: 100%;
  }
}
